.python-version
db.sqlite3 .idea geckodriver.log venv
.idea/
venv/
geckodriver.log
db.sqlite3
.env
/lists/__pycache__/tests.cpython-36.pyc
/static
lists/__pycache__
superlists/__pycache__
__pychache__
/__pychache__
functional_tests/__pycache__
lists/migrations/__pycache__
.env
